<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>handlebars-i18next Demo</title>
</head>
<body>
    <h2>Handlebars-i18next Demo</h2>

    <div id="demo"></div>

    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/i18next/19.3.2/i18next.js"></script>
    <script src="../../dist/handlebars-i18next.js"></script>
    <script>

        'use strict';

        // -- The translation phrases for i18next
        i18next
            .init({
                resources : {
                    'en' : {
                        translation : {
                            'key0': 'Change Language to',
                            'key1': 'What is good?',
                            'key2': '{{what}} is good.',
                            'key3WithCount': '{{count}} item',
                            'key3WithCount_plural': '{{count}} items',
                            'key4': 'Selected Language is:'
                        }
                    },
                    'de' : {
                        translation: {
                            'key0': 'Sprache wechseln zu',
                            'key1': 'Was ist gut?',
                            'key2': '{{what}} ist gut.',
                            'key3WithCount': '{{count}} Gegenstand',
                            'key3WithCount_plural': '{{count}} Gegenstände',
                            'key4': 'Die ausgewählte Sprache ist:'
                        }
                    }
                },
                lng : 'en'
            });

        // -- Handlebars' data object
        let data = {
            sayWhat : 'HandelbarsI18next',
            holdKey3 : 'key3WithCount',
            holdKey4 : 'key4',
            number : 33.333,
            maxDigits: 1,
            myPrice: 12.99,
            myDate: '2020-03-11T03:24:00'
        };

        // -- Init and configure HandlebarsI18next
        HandlebarsI18next.init();
        HandlebarsI18next.configure([
            ['all', 'NumberFormat', { minimumFractionDigits: 2 }],
            ['en', 'PriceFormat', { currency: 'USD'}],
            ['de', 'PriceFormat', { currency: 'EUR'}],
            ['en', 'DateTimeFormat', { year:'numeric', month:'long', day:'numeric', hour:'numeric', minute:'numeric'}],
            ['de', 'DateTimeFormat', { year:'numeric', month:'numeric', day:'numeric', hour:'numeric', minute:'numeric', hour12:false}]
        ]);

        // -- The template to be rendered
        let template =
        '<button onclick="changeLang()">{{__ "key0"}} {{#if (localeIs "en")}}German {{else}}Englisch {{/if}}</button>' +
        '<ul>' +
            // key given as string
            '<li>{{__ "key1"}}</li>' +

            // key with variable replacement
            '<li>{{__ "key2" what=sayWhat}}</li>' +

            // phrase with [singular] / plural
            '<li>{{__ "key3WithCount" count=1}}</li>' +

            // phrase with singular / [plural]
            '<li>{{__ "key3WithCount" count=7}}</li>' +

            // key given as handlebars variable and _locale output
            '<li>{{__ holdKey4}} {{_locale}}</li>' +

            // if condition against selected language
            '<li><img src="img/{{#if (localeIs \'en\')}}united_kingdom{{else}}germany{{/if}}.png" height="20"></li>' +

            // number representation
            '<li>{{_num 4000000.2}}</li>' +

            // number representation with custom configuration
            '<li>{{_num 4000000.2 maximumFractionDigits=0}}</li>' +

            // number given as handlebars variable
            '<li>{{_num number maximumFractionDigits=maxDigits}}</li>' +

            // price representation
            '<li>{{_price 9999.99}}</li>' +

            // price representation with custom configuration
            '<li>{{_price 1000 currency="JPY" minimumFractionDigits=1}}</li>' +

            // price given as handlebars variable and with custom configuration
            '<li>{{_price myPrice currency="DKK"}}</li>' +

            // todays date
            '<li>{{_date}}</li>' +

            // todays date with custom configuration
            '<li>{{_date "today" year="2-digit" month="2-digit" day="2-digit"}}</li>' +

            // date given as date string
            '<li>{{_date "2020-03-11T03:24:00"}}</li>' +

            // date given in milliseconds since begin of unix epoch
            '<li>{{_date 1583922952743}}</li>' +

            // date given as javascript date parameters
            '<li>{{_date "[2012, 11, 20, 3, 0, 0]"}}</li>' +

            // date given as as handlebars variable
            '<li>{{_date myDate}}</li>' +
        '</ul>';

        // -- Compile template and output to demo container
        function compile() {
            let compiled = Handlebars.compile(template);
            document.getElementById('demo').innerHTML = compiled(data);
        }

        // -- Switch language function
        function changeLang() {
            var changeTo = i18next.language == 'en' ? 'de' : 'en';
            i18next.changeLanguage(changeTo).then(function() {
                compile();
            });
        }

        compile();

    </script>
</body>
</html>